
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid;

  .logo {
    margin: 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: #313131;
  }
}
