* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.cards {
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  .cart-btn {
    padding: 0 10px;
    margin: 0 auto;
  }
}
